html, body {
    height: 100%;
    background-color: rgb(64, 179, 228);
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.image {
    width: 90%;
    height: 40%;
    border: 5px solid rgb(0, 57, 50);
    border-radius: 10px;
}

.content {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    padding: 20px;
}

.heading {
    font-family: "Libre Baskerville", serif;
    color: rgb(188, 9, 9);
    font-size: 50px;
    margin: 25px 0;
}

.subheading {
    font-family: "Libre Baskerville", serif;
    color: rgb(209, 243, 206);
    font-size: 40px;
    margin-top: 20px;
}